/* form styling */

h5 {
  font-weight: 700;
}
.modal-form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 2.5rem;
}
.modal__event-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0rem;
}
.modal__event-form input {
  /* width: 42rem; */
  height: 3rem;
}

.modal__event-form textarea {
  height: 6rem;
}
.input,
.modal__tag,
.textarea {
  position: absolute;

  left: 3%;
  background: #fff;
  padding: 0.3rem 0.8rem;
  letter-spacing: 1px;
}
.input {
  top: -35%;
}
.textarea {
  top: -14%;
  left: 3%;
}
.modal__tag {
  top: -29%;
}
.modal__selects {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0rem;
  position: relative;
}
.modal-date__ {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.modal__start-dt,
.modal__start-time {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.modal__start-dt input,
.modal__start-time input {
  width: 100%;
  height: 3rem;
  font-size: 1em;
  padding: 0 0.5rem;
}

.modal__selects select {
  position: relative;
}
.modal__selects label {
  position: absolute;
  top: -12%;
}
.modal__selects select {
  display: flex;
  width: 100%;
  height: 3rem;
  font-size: 1em;
}
.selects-long select {
  width: 100%;
  height: 3rem;
  font-size: 1em;
}
.subtext {
  margin-bottom: 2rem;
}

.modal__bttn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}
.modal__btn-active {
  padding: 1rem 3rem;
  font-size: 0.9rem;
  color: #1c2b66;
  background: #dde1ef;
  border: 1px solid #1c2b66;
  cursor: pointer;
}
.modal__submit {
  margin-top: 0rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.modal__btn-normal {
  padding: 1rem 3rem;
  font-size: 0.9rem;
  color: #1c2b66;
  background: #fff;
  border: 1px solid #1c2b66;
  cursor: pointer;
}
.modal__btn-cancel {
  padding: 1rem 4rem;
  font-size: 1.1rem;
  color: #1c2b66;
  background: #fff;
  border: 1px solid #1c2b66;
}
.modal__btn-continue {
  padding: 1rem 4rem;
  font-size: 1.1rem;
  color: #fff;
  background: #1c2b66;
  border: 1px solid #1c2b66;
  cursor: pointer;
}
.modal__btn-continue:hover {
  color: #fff;
  background: #0b153a;
  transition: all ease-in-out 0.5s;
}
.btn-cancel:hover {
  color: #fff;
  background: #1c2b66;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
