<div class="form">
  <h5>Type of Tickets</h5>
  <div class="bttn">
    <button class="btn-active">Single Event</button>
    <button class="btn-normal">Recurring Event</button>
  </div>
  <div class="event-form">
    <label for="title" class="input">Name of Tickets</label>
    <input type="text" name="title" />
  </div>
  <div class="selects">
    <select name="type" id="">
      <option value="Type"></option>
    </select>
    <span class="tag"> Available Quantity </span>
  </div>
  <div class="event-form">
    <label for="eventDetails" class="textarea">Ticket Description</label>
    <textarea name="eventDetails"> </textarea>
  </div>

  <div class="dt">
    <div class="selects">
      <select name="" id="">
        <option value="Type">📆Sales Start</option>
      </select>
      <select name="" id="">
        <option value="Type">🕒Start Time</option>
      </select>
    </div>
    <div class="selects" style="margin-top: 2.5rem">
      <select name="" id="">
        <option value="Type">📆Sales Date</option>
      </select>
      <select name="" id="">
        <option value="Type">🕒End Time</option>
      </select>
    </div>
  </div>

  <div class="submit">
    <button class="btn-cancel">Cancel</button>
    <button class="btn-continue">Continue</button>
  </div>
</div>
