<div class="modal-form">
  <h5>Type of Tickets</h5>
  <div class="modal__bttn">
    <button class="modal__btn-active">Single Event</button>
    <button class="modal__btn-normal">Recurring Event</button>
  </div>
  <div class="modal__event-form">
    <label for="title" class="input">Name of Tickets</label>
    <input type="text" name="title" />
  </div>
  <div class="modal__selects">
    <select name="type" id="">
      <option value="Type"></option>
    </select>
    <span class="modal__tag"> Available Quantity </span>
  </div>
  <div class="modal__event-form">
    <label for="eventDetails" class="textarea">Ticket Description</label>
    <textarea name="eventDetails"> </textarea>
  </div>

  <div class="modal__dt">
    <div class="modal__selects">
      <div class="modal-date__">
        <div class="modal__start-dt">
          <span>Start Date</span>
          <input type="date" name="start-date" />
        </div>
        <div class="modal__start-time">
          <span>Start Time</span>
          <input type="time" name="start-time" />
        </div>
      </div>
    </div>
    <div class="modal__selects" style="margin-top: 2.5rem">
      <div class="modal-date__">
        <div class="modal__start-dt">
          <span>End Date</span>
          <input type="date" name="end-time" />
        </div>
        <div class="modal__start-time">
          <span>End Time</span>
          <input type="time" name="end-time" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal__submit">
    <button class="modal__btn-cancel">Cancel</button>
    <button class="modal__btn-continue">Continue</button>
  </div>
</div>
