<div class="form">
  <h5>Type of Tickets</h5>
  <div class="bttn">
    <button class="btn-active">Single Event</button>
    <button class="btn-normal">Recurring Event</button>
  </div>
  <div class="event-form">
    <label for="title" class="input">Name of Tickets</label>
    <input type="text" name="title" />
  </div>
  <div class="selects">
    <select name="type" id="">
      <option value="Type"></option>
    </select>
    <span class="tag"> Available Quantity </span>
  </div>
  <div class="event-form">
    <label for="eventDetails" class="textarea">Ticket Description</label>
    <textarea name="eventDetails"> </textarea>
  </div>

  <div class="dt">
    <div class="selects">
      <div class="date__">
        <div class="start-dt">
          <span>Start Date</span>
          <input type="date" name="start-date" />
        </div>
        <div class="start-time">
          <span>Start Time</span>
          <input type="time" name="start-time" />
        </div>
      </div>
    </div>
    <div class="selects" style="margin-top: 2.5rem">
      <div class="date__">
        <div class="start-dt">
          <span>End Date</span>
          <input type="date" name="end-time" />
        </div>
        <div class="start-time">
          <span>End Time</span>
          <input type="time" name="end-time" />
        </div>
      </div>
    </div>
  </div>

  <div class="submit">
    <button class="btn-cancel">Cancel</button>
    <button class="btn-continue">Continue</button>
  </div>
</div>
