<div class="invite-page">
  <div class="invite-page-innerContainer">
    <ng-container *ngIf="drawer">
      <div class="invite-drawer">
        <div class="drawer-container">
          <ul class="drawer-list">
            <li><mat-icon>rsvp</mat-icon>Invitation</li>
            <li><mat-icon>receipt_long</mat-icon>Invitation List</li>
            <li><mat-icon>chair</mat-icon>Seating</li>
            <li><mat-icon>assignment_turned_in</mat-icon>Check in</li>
          </ul>
        </div>
        <button (click)="onDrawerClick()" class="drawer-btn">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="drawer_min">
      <div class="invite-drawer-mini">
        <button (click)="onDrawerClick()" class="drawer-btn-mini">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </ng-container>
    <div class="invite-content">
      <div class="invite-pageTop">
        <div class="pageTopTabs">
          <div class="topTabsNav">
            <button class="tabsNavBtn tabsNavBtn-active" routerLink="/invites">
              Design
            </button>
            <button class="tabsNavBtn" routerLink="/invites/preview">
              Preview
            </button>
          </div>
        </div>
        <div class="pageTopBottomTabs">
          <div class="bottomTabsLeft">
            <mat-tab-group
              (selectedTabChange)="onEditClick($event)"
              mat-align-tabs="start"
            >
              <mat-tab label="Select Template"></mat-tab>
              <mat-tab label="Edit Invites"></mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="invite-pageCanvas">
        <div class="pageCanvasTop">
          <div class="pageCanvasTopBtns">
            <button><mat-icon>restart_alt</mat-icon> reset</button>
            <button><mat-icon>undo</mat-icon> undo</button>
            <button><mat-icon>redo</mat-icon> Re-do</button>
            <button *ngIf="edit"><mat-icon>title</mat-icon> Add Text</button>
            <button *ngIf="edit">
              <mat-icon>add_photo_alternate</mat-icon> Add Image
            </button>
            <button *ngIf="edit"><mat-icon>link</mat-icon>Add link</button>
          </div>
          <hr *ngIf="edit" />
          <div class="canvasToolbar" *ngIf="edit">
            <div class="fontTypeSection">
              <div class="fontTypeSectionSelect">
                <select name="" id="">
                  <option value="">Montserrat Classic</option>
                  <option value="">Comic Sans</option>
                  <option value="">Open Sans</option>
                </select>
              </div>
              <div class="fontTypeSectionInput">
                <label for="textSize">Text Size</label>
                <input type="number" name="textSize" id="" />
              </div>
            </div>
            <div class="fontColorSection">
              <p>Text Color</p>
              <div class="colorSectionDiv"></div>
              <input type="text" placeholder="#637393" />
            </div>
            <div class="fontStyleSection">
              <p>style</p>
              <div class="style-icons">
                <mat-icon>text_format</mat-icon>
                <mat-icon>format_bold</mat-icon>
                <mat-icon>format_italic</mat-icon>
                <mat-icon>format_underlined</mat-icon>
                <mat-icon>format_size</mat-icon>
                <mat-icon>list</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="pageCanvasContent">
          <div class="canvasContentTemplates">
            <div class="canvasSearch">
              <input type="text" placeholder="Search templates" />
              <button><mat-icon>search</mat-icon></button>
            </div>
            <div class="canvasTemplatesGrid">
              <img
                (click)="setTemplateOne()"
                src="/assets/tmp1.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateTwo()"
                src="/assets/tmp2.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateThree()"
                src="/assets/temp3.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateFour()"
                src="/assets/temp4.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateFive()"
                src="/assets/temp5.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateSix()"
                src="/assets/temp6.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateSeven()"
                src="/assets/temp7.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateEight()"
                src="/assets/temp8.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateNine()"
                src="/assets/temp9.png"
                class="imgTemplates"
                alt=""
              />
              <img
                (click)="setTemplateTen()"
                src="/assets/temp10.png"
                class="imgTemplates"
                alt=""
              />
            </div>
          </div>
          <div class="canvasContentMain">
            <div class="templateCanvas">
              <ng-container *ngIf="template_one">
                <app-invitetemplate></app-invitetemplate>
              </ng-container>
              <ng-container *ngIf="template_two">
                <app-templatetwo></app-templatetwo>
              </ng-container>

              .<ng-container *ngIf="template_three">
                <app-weddinginvite></app-weddinginvite>
              </ng-container>
              <ng-container *ngIf="template_four">
                <app-wedinvite></app-wedinvite>
              </ng-container>
              <ng-container *ngIf="template_five">
                <app-dinner></app-dinner>
              </ng-container>
              <ng-container *ngIf="template_six">
                <app-dinnerinvite></app-dinnerinvite>
              </ng-container>
              <ng-container *ngIf="template_seven">
                <app-birthday></app-birthday>
              </ng-container>
              <ng-container *ngIf="template_eight">
                <app-birthdayinvite></app-birthdayinvite>
              </ng-container>
              <ng-container *ngIf="template_nine">
                <app-engagement></app-engagement>
              </ng-container>
              <ng-container *ngIf="template_ten">
                <app-engagementinvite></app-engagementinvite>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
