<div class="wed">
  <div class="wed-container">
    <p>TOGETHER WITH THEIR FAMILIES</p>

    <div class="wed-names">
      <div class="husband">Chloe</div>
      <p>&</p>
      <div class="wife">Mattt</div>
    </div>
    <div class="wed-you">INVITE YOU TO CELEBRATE THEIR WEDDING</div>
    <div class="wed-calendar">
      <div class="weekday">Sunday</div>
      <div class="wed-date">
        <div class="wed-month">July</div>
        <div class="wed-no">10</div>
        <div class="wed-year">2022</div>
      </div>
      <div class="weekday">AT 5PM</div>
    </div>
    <div class="wed-p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis
      animi tempore, impedit repellat ab praesentium expedita nesciunt officia
      culpa amet
    </div>
    <div class="wed-address">123 ANY WHERE ST, ANY CITY</div>
  </div>
</div>
