<div class="dash">
  <div class="dashboard">
    <div class="top">
      <div class="graph">
        <h2>Project Deliveries</h2>
        <img
          src="https://opensource.com/sites/default/files/uploads/british-election-data-chart.png"
          alt=""
        />
      </div>
      <div class="upcoming">
        <h2>Upcoming Events</h2>
        <div class="reminder">
          <div class="reminder-body">
            <div class="reminder-head">
              <h3>Vaux App Launch</h3>
              <p>12:00PM</p>
            </div>
            <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="reminder-bottom">
              <button>Set Reminder</button>

              <div class="reminder-pips">
                <div class="collab-img">
                  <img
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt=""
                  /><img
                    style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt=""
                  />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-header">
        <h2>Event Overview</h2>
        <select name="All Events" id="">
          <option value="All events">All events</option>
        </select>
      </div>
      <div class="bottom-content">
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: green; font-weight: 300"
                    >🟢 Event Completed
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: #f9a826; font-weight: 300"
                    >🟡 Event in progress
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: #ff5b57; font-weight: 300"
                    >🔴 Event In Draft
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: green; font-weight: 300"
                    >🟢 Event Completed
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: #f9a826; font-weight: 300"
                    >🟡 Event in progress
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-body">
            <img
              src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
              alt=""
            />
            <div class="item-title">
              <h2>Burna Live in Concert</h2>
              <p>Published</p>
            </div>
          </div>
          <div class="collaborators">
            <h4>Collaborators</h4>
            <div class="collab-body">
              <div class="collab-img">
                <img
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                /><img
                  style="margin-left: -16px"
                  src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                  alt=""
                />
                <div>
                  <p>+8</p>
                </div>
              </div>
              <div class="completed">
                <p>
                  <span style="color: #ff5b57; font-weight: 300"
                    >🔴 Event In Draft
                  </span>
                  Sept 26 2022
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
