<div class="bank-page">
  <div class="bank-header">
    <p class="bank-btn"><mat-icon>arrow_back_ios</mat-icon> Back</p>
    <h3>Add Bank Account Details</h3>
  </div>
  <div class="bank-container">
    <div class="bankContainer-top">
      <h3>Add your Bank Account Details</h3>

      <div class="bank-info">
        <p><span> <mat-icon>info</mat-icon></span> The safety and security of your bank account information is
          protected.</p>
      </div>
    </div>
    <form class="bank-form">
      <div class="form_select">
        <label for="selectBank">Select Bank</label>
        <div class="selectDiv">
          <select name="selectBank" id="">
            <option value="">Select Bank</option>
            <option value="">Access Bank</option>
            <option value="">First Bank</option>
          </select>
        </div>
      </div>
      <div class="form_input">
        <label for="accountNo">Account No</label>
        <input type="number" name="accountNo">
      </div>
      <div class="form_input">
        <label for="accountName">Account Name</label>
        <input type="text" name="accountName">
      </div>
      <div class="form_input">
        <label for="accountName">BVN</label>
        <input type="number" name="bvn">
      </div>
      <div class="form-btn">
        <button class="add-bank-btn">Add Bank Account</button>
      </div>
    </form>
  </div>
</div>