<div class="food-details">
  <div class="detail-header">
    <div class="back">
      <img src="/assets/less.png" alt="" routerLink="/food" />
      <h2>Back</h2>
    </div>
    <div class="sort">
      <h4>Sort By</h4>
      <select name="" id="">
        <option value="">Popularity</option>
      </select>
    </div>
  </div>
  <p class="search">Found 86 items on your serach</p>
  <div class="bottom">
    <div class="left">
      <div class="food-img">
        <img src="{{ vendor.image }}" />
        <div class="carousel">
          <img src="/assets/less.png" alt="" />
          <hr class="active" />
          <hr />
          <hr />

          <img src="/assets/great.png" alt="" />
        </div>
        <div class="food-title">
          <h2>{{ vendor.name }}</h2>
          <p class="item-rating">
            {{ vendor.rating }}
            <span class="review">[{{ vendor.reviews }} reviews]</span>
          </p>
          <p>
            <span
              ><img src="/assets/location.png" alt="" /> Ipsum magna Lorem quis
              est quis</span
            >
          </p>
        </div>
        <div class="food-description">
          <!-- <div class="description-title">
            <h3 class="active-title">Description</h3>
            <h3>Reviews</h3>
          </div>
          <div class="horizontal-rule">
            <hr />
          </div>
          <div class="description-text">
            <p>
              {{ vendor.desc }}
            </p>

          </div>-->

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Description"
              ><p>
                {{ vendor.desc }}
              </p></mat-tab
            >
            <mat-tab label="Review"><p>Content 2</p></mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="vl"></div>

    <div class="right">
      <div class="service">
        <div class="service-head">
          <div class="service-title">
            <h2>Services</h2>
            <p>Found 86 Items on your search</p>
          </div>
          <div class="service-search">
            <input type="text" placeholder="Search services" />
            <div class="service-btn">
              <img src="/assets/search.png" alt="" />
            </div>
          </div>
        </div>
        <div class="service-body">
          <div class="service-items">
            <!-- <div class="service-item">
              <div class="service-left">
                <div class="item-img">
                  <img
                    src="https://img.freepik.com/premium-photo/concept-indian-cuisine-baked-chicken-wings-legs-honey-mustard-sauce-serving-dishes-restaurant-black-plate-indian-spices-wooden-table-background-image_127425-18.jpg?w=2000"
                    alt=""
                  />
                </div>
                <div class="item-desc">
                  <h3>Pesto Pasta Grill</h3>
                  <p>Special Food dish</p>
                  <h3>$36.00</h3>
                </div>
              </div>
              <div class="service-right">
                <button class="btn">-</button>
                <span>3</span>
                <button class="btn">+</button>
                <button class="add">Add to Plan</button>
              </div>
            </div> -->
            <div class="service-item" *ngFor="let serv of vendor.services">
              <div class="service-left">
                <div class="item-img">
                  <img src="{{ serv.image }}" alt="" />
                </div>
                <div class="item-desc">
                  <h3>{{ serv.name }}</h3>
                  <p>{{ serv.type }}</p>
                  <h3>{{ serv.price | currency }}</h3>
                </div>
              </div>
              <div class="service-right">
                <button class="btn">-</button>
                <span>3</span>
                <button class="btn">+</button>
                <button class="add">Add to Plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
