.food-details {
  background: #fff;
  padding: 2rem 3rem;
}

.back {
  display: flex;
  align-items: center;
}
.back img {
  cursor: pointer;
}
.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sort {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search {
  margin-left: 1.1rem;
  margin-top: 0.7rem;
}
.sort select {
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
.bottom {
  display: flex;
  /* align-items: center; */
  padding: 2rem;
}
.left {
  flex: 0.45;
  width: 45%;
  padding: 1rem 3rem;
}
/* .food-img {
  border: 1pc solid gray;
} */
.food-img img {
  height: 330px;
  width: 100%;

  border-radius: 15px;
  object-fit: cover;
}
.mat-tab-label-content {
  /* font-size: 1.4rem; */
}
.ng-star-inserted {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.vl {
  border-left: 3px solid rgba(28, 43, 102, 0.25);
  border-radius: 5px;
  height: 800px;
}
.right {
  flex: 0.55;
  width: 55%;
  background: #fff;
  /* height: 100vh; */
  padding: 1rem 3rem;
}
.carousel {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}
.carousel img {
  height: 40px;
  width: 40px;
}
.active {
  color: #1c2b66 !important;
  border: 5px solid;
  background: #1c2b66 !important;
}

.carousel hr {
  width: 100px;
  color: #d9d9d9;
  border: 5px solid;
  background: #d9d9d9;
  border-radius: 10px;
}
.food-title {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.food-title h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.food-title p {
  font-size: 0.9rem;
}
.review {
  font-size: 0.8rem;
  opacity: 0.75;
}
.food-title img {
  height: 20px;
  width: 20px;
}
.description-title {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.description-title h3 {
  cursor: pointer;
  font-size: 1.3rem;
}
.active-title {
  color: #1c2b66;
  border-bottom: 5px solid #1c2b66;
  width: 20%;
  /* border-radius: 10px; */
}
.horizontal-rule {
  display: flex;
  /* margin-top: 1rem; */
  margin-top: -1.5rem;
}
.horizontal-rule hr {
  width: 100%;
  /* border: 2px solid rgba(28, 43, 102, 0.25); */
  background: rgba(28, 43, 102, 0.25);
  border-radius: 5px;
  color: rgba(28, 43, 102, 0.25);
  /* border-top: ; */
}
.description-text {
  margin-top: 1rem;
  font-size: 0.85rem;
}
.service-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.service-title h2 {
  font-size: 1.5rem;
}
.service-search {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  width: 20rem;
  background: #7f8fdf;
  border: 0.2px solid #f7f8fc;
  box-shadow: 0px 0.5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.service-btn {
  background: #1c2b66;
  padding: 7px;
  border-radius: 10px;
  width: 15%;
  text-align: center;
}
.service-search input {
  width: 85%;
  height: 2.5rem;
  border: none;
  background-color: #f6f7fc;
  padding: 1rem;
}
.service-search img {
  filter: invert(1);
  height: 20px;
}
.service-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.service-item {
  height: fit-content;
  border: 0.5px solid rgba(28, 43, 102, 0.25);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.service-left {
  display: flex;
  align-items: center;
}
.item-desc h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.item-img img {
  height: 120px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 2rem;
}
.service-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  background: #1c2b66;
  padding: 0.1rem 0.4rem;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.add {
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1c2b66;
  font-size: 0.8rem;
  cursor: pointer;
}
