.partner-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F1F4FA;
}

.partner-pageContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer .mat-drawer-side {
  z-index: 2;
  width: 200px;
  background: #1c2b66;
  border: none;

}

.mat-list-item {
  color: #fff;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: center;
  text-align: center;

}



.mat-drawer-inner-container {
  position: relative;
  background: #1c2b66;
}

.collapse-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
  /* font-size: 0px; */
  color: #fff;
  padding: 0.1rem 0.9rem;
  border: none;
  background: #1c2b66;
}

.profile-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;

}

.toggle-container {
  border: 10px solid #1c2b66;
  min-height: 100%;
}

.profile-main {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.profile-top {
  padding: 2rem 0;
  border-bottom: 0.5px solid rgba(28, 43, 102, 0.2);
}

.profile-header {
  text-align: center;
  font-size: clamp(1.125rem, 0.8125rem + 1vw, 2rem);
  font-weight: 600;
  color: #1c2b66;
}

.profile-bottom {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 3rem;
  margin: 0 auto;
}

.profile-photo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profileimg {
  position: relative;
}

.profileimg img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.img-edit {
  position: absolute;
  top: 55%;
  right: -10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #1c2b66;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp-text h5 {
  font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
  font-weight: 600;
}

.pfp-text p {
  font-size: clamp(0.8125rem, 0.7679rem + 0.1429vw, 0.9375rem);
  color: #727272;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 2rem;
  flex-wrap: wrap;
}

.form_input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1
}

.form_input input {
  background: #F1F4FA;
  border-radius: 10px;
  height: 45px;
  border: none;
  outline: none;
  padding: 1rem;
}

@media screen and (max-width:500px) {
  .form-container {
    width: 100%;
  }

  .partner-pageContainer {
    width: 100%;
  }

  .toggle-container {
    border: 5px solid #1c2b66;
    min-height: 100%;
  }

  .mat-drawer {
    background: #1c2b66 !important;
  }
}