<div class="add-invitee">
  <div class="invitee-header">
    <div class="invitee-headerText">
      <h2 class="invitee-headerTitle"> Invitee/RSVP</h2>
      <p><mat-icon>chevron_left</mat-icon> Back</p>
    </div>
  </div>
  <div class="invitee-container">
    <button class="back-btn" routerLink="/add-invitee"><mat-icon>chevron_left</mat-icon>Back</button>
    <div class="invitee-containerHeader">
      <h2 class="invitee-title">No Invitees, just yet</h2>
      <p class="invitee-subtitle">Let us create your invite list so you can send your invitation to your exclusive guest
        list</p>
    </div>
    <div class="invitee-containerContent">
      <img class="invitee-img" src="assets/import.png" alt="import-list">
      <div class="container-btns">
        <button class="container-btn btn-invitee"><mat-icon>add_box</mat-icon>Download Template</button>
        <button class="container-btn btn-import">Import .csv</button>
      </div>
    </div>
  </div>
</div>