<div class="categories__modal">
  <div class="categories__modal-header">
    <h3 class="categories__modal-headerTitle">
      Select list of request categories you need for your event
    </h3>
    <p class="categories__modal-headerText">You can select multiple times</p>
  </div>
  <div class="categories__modal-body">
    <div *ngFor="let vendor of vendors" (dblclick)="vendor.active = !vendor.active" [className]="
        vendor.active
          ? 'categories__modal-bodyItems-active categories__modal-bodyItems'
          : 'categories__modal-bodyItems-notActive categories__modal-bodyItems'
      ">
      <img class="categories__modal-bodyImg" src="{{ vendor.image }}" alt="" />
      <p class="categories__modal-bodyText" [style.color]="vendor.color">{{ vendor.type }}</p>
    </div>
  </div>
  <div class="categories__modal-btn">
    <button class="categories__modal-btnCancel">Cancel</button>
    <button class="categories__modal-btnContinue">Continue</button>
  </div>
</div>
