<div class="birthday">
  <div class="birthday-container">
    <div class="birthday-text">Please join us for a</div>
    <div class="birthday-title">{{ title }}</div>
    <div class="birthday-minititle">celebrating</div>
    <div class="birthday-name">{{ celebrant_name }}</div>

    <div class="birthday-date">
      <div class="birthday-left">
        <div class="birthday-day">{{ day }}</div>
        <div class="birthday-time">{{ time }}</div>
      </div>
      <div class="birthday-mid">{{ date }}</div>
      <div class="birthday-right">
        <div class="birthday-month">{{ month }}</div>
        <div class="birthday-year">{{ year }}</div>
      </div>
    </div>

    <div class="birthday-address">
      <div class="birthday-location">{{ location }}</div>
      {{ address }}
    </div>
  </div>
</div>
