<div class="birthday">
  <div class="birthday-container">
    <div class="birthday-text">Please join us for a</div>
    <div class="birthday-title">Birthday Party</div>
    <div class="birthday-minititle">celebrating</div>
    <div class="birthday-name">
      Aaron Miller <span class="bracket">(bracket one)</span>
    </div>

    <div class="birthday-date">
      <div class="birthday-left">
        <div class="birthday-day">
          Wednesday <span class="bracket">(bracket two)</span>
        </div>
        <div class="birthday-time">
          4:00pm <span class="bracket">(bracket 3)</span>
        </div>
      </div>
      <div class="birthday-mid">
        23 <span class="bracket">(bracket 4)</span>
      </div>
      <div class="birthday-right">
        <div class="birthday-month">
          September <span class="bracket">(bracket 5)</span>
        </div>
        <div class="birthday-year">
          2022<span class="bracket">(bracket 6)</span>
        </div>
      </div>
    </div>

    <div class="birthday-address">
      <div class="birthday-location">
        GLENDENNING GOLF RESORT <span class="bracket">(bracket 7)</span>
      </div>
      "345 SAINT BENEDICT STREET, JOSHUA TREE California
      <span class="bracket">(bracket 8)</span>
    </div>
  </div>
</div>
