<div class="birthday">
  <div class="birthday-container">
    <div class="birthday-text">Please join us for a</div>
    <div class="birthday-title">Birthday Party</div>
    <div class="birthday-minititle">celebrating</div>
    <div class="birthday-name">[ 1 ]</div>

    <div class="birthday-date">
      <div class="birthday-left">
        <div class="birthday-day">[ 2 ]</div>
        <div class="birthday-time">[ 3 ]</div>
      </div>
      <div class="birthday-mid">[ 4 ]</div>
      <div class="birthday-right">
        <div class="birthday-month">[ 5 ]</div>
        <div class="birthday-year">[ 6 ]</div>
      </div>
    </div>

    <div class="birthday-address">
      <div class="birthday-location">[7]</div>
      [8]
    </div>
  </div>
</div>
