.subscription {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.subscription__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscription__top img {
  width: 40%;
}

.subscription__bottom {
  width: 100%;
}

.subscription__bottom-btn {
  margin-top: 2rem;
}

.subscription__cards-monthly {
  width: 100%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.subscription__card {

  background: #000;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
}

.subscription__card-title {}

.subscription__card-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.subscription__card-list li {
  display: flex;
  gap: 0.5rem;
}
