<div class="password-sec">
  <div class="profile-top">
    <h3 class="profile-header">Password & Security</h3>
  </div>
  <div class="profile-bottom">
    <div class="password-info">
      <mat-icon>info</mat-icon> Reset your password
    </div>
    <form class="password-form">
      <div class="form_input">
        <label for="currentpassword">Current Password</label>
        <input type="password" name="currentpassword" id="">
      </div>
      <div class="form_input">
        <label for="currentpassword">Current Password</label>
        <input type="password" name="currentpassword" id="">
      </div>
      <div class="form_input">
        <label for="currentpassword">Current Password</label>
        <input type="password" name="currentpassword" id="">
      </div>
      <div class="pass-btn">
        <button class="update-btn">Update</button>
      </div>
    </form>
  </div>
</div>