<div class="notifications">
  <div class="profile-top">
    <h3 class="profile-header">Notifications</h3>
  </div>
  <div class="profile-bottom">
    <div class="email-notifications">
      <div class="email-header">
        <h4>Email notification</h4>
        <p>Get emails to find out what’s going on when you’re not online. You can turn these off.</p>
      </div>
      <div class="notfication-util">
        <div class="ttg">
          <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
          <div>
            <p class="ntf-title">News and Updates</p>
            <p class="ntf-subtitle">News about products and feature updates.</p>
          </div>
        </div>
        <div class="ttg">
          <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
          <div>
            <p class="ntf-title">Tips and tutorials</p>
            <p class="ntf-subtitle">Tips on getting more out of united.</p>
          </div>
        </div>
        <div class="ttg">
          <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
          <div>
            <p class="ntf-title">User research</p>
            <p class="ntf-subtitle">Get involved in our beta testing program or
              participate in paid product user research.</p>
          </div>
        </div>
        <div class="ttg">
          <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
          <div>
            <p class="ntf-title">Comments</p>
            <p class="ntf-subtitle">Comments on your posts and replies to
              comments.</p>
          </div>
        </div>
        <div class="ttg">
          <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
          <div>
            <p class="ntf-title">Reminders</p>
            <p class="ntf-subtitle">These are notification to remind you of
              updates you might have missed.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="vr"></div>
    <div class="push-notifications">
      <div class="push-header">
        <h4>Push notification</h4>
        <p>Get push notification in_app to find out what’s going on when you’re online.</p>
        <div class="notfication-util">

          <div class="ttg">
            <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
            <div>
              <p class="ntf-title">Comments</p>
              <p class="ntf-subtitle">Comments on your posts and replies to
                comments.</p>
            </div>
          </div>
          <div class="ttg">
            <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
            <div>
              <p class="ntf-title">Reminders</p>
              <p class="ntf-subtitle">These are notification to remind you of
                updates you might have missed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>