<div class="template-two">
  <div class="templatetwo-container">
    <div class="templatetwo-header">
      <input class="th-text" type="text" placeholder="E" />
      <img class="draw" src="/assets/drawrose.png" alt="" />
      <input class="th-text" type="text" placeholder="W" />
    </div>
    <div class="templatetwo-names">
      <input type="text" class="name-text" placeholder="ESTELLE" />
      <h3 class="amper">&</h3>
      <input type="text" class="name-text" placeholder="WILLIAM" />
    </div>
    <div class="templatetwo-text">
      <p>Join us in celebrating</p>
      <p>our Wedding</p>
    </div>
    <div class="templatetwo-date">
      <input type="text" class="date-text" placeholder="08 | 04 | 2023" />
    </div>
    <div class="templatetwo-time">
      <input type="text" class="time-text" placeholder="2:00pm" />
    </div>
    <div class="templatetwo-address">
      <input
        type="text"
        class="add-text"
        placeholder="123, Anywhere St. Any City"
      />
      <input
        type="text"
        class="rsvp-text"
        placeholder="Estelle Darcy 123-456-7890"
      />
    </div>
    <div class="templatetwo-rsvp"></div>
  </div>
</div>
