.review {
  padding: 2rem;
  width: 85vw;
  margin: 1rem auto;
}
.review-main {
  display: flex;
}
.review-text {
  float: left;
  width: 50%;
}
.review-img {
  float: left;
  width: 50%;
  margin-right: 3rem;
}
.review-img img {
  height: 400px;
  width: 770px;
  object-fit: cover;
}
h1 {
  font-size: 3rem;
}
.mid {
  margin-top: 1.5rem;
}
.mid h3 {
  color: #1c2b66;
}
.end {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.special {
  margin-left: 2rem;
  font-size: 13px;
  color: #2d3748;
}
span {
  margin-right: 0.5rem;
}
.btn {
  text-align: center;
  margin-top: 2rem;
}
.btns {
  padding: 1rem 4rem;
  margin-right: 1rem;
  font: 1.5rem;
}
.btn-draft {
  background: #fff;
  color: #1c2b66;
  border: 1px solid #1c2b66;
}
.btn-publish {
  background: #1c2b66;
  color: #fff;
  border: 1px solid #1c2b66;
}
.share {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
  gap: 1rem;
  color: #2d3748;
}
.share-link {
}
.share-link {
  background: #f1f4fa;
  padding: 0.5rem 1rem;
  text-align: justify;
  border-radius: 8px;
}

.url {
  font-size: 12px;
  font-weight: lighter;
}
.link {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link img {
  height: 20px;
  width: 20px;
  margin-left: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 1.5rem;
}
.socials img {
  height: 30px;
  width: 30px;
}

/* responsivenes */

@media screen and (max-width: 1811px) {
  .review-img img {
    height: 400px;
    width: 670px;
  }
}
@media screen and (max-width: 1554px) {
  .review-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-img img {
    height: 400px;
    width: 570px;
  }
}
@media screen and (max-width: 1345px) {
  .review-img img {
    height: 370px;
    width: 500px;
  }
}

@media screen and (max-width: 1221px) {
  .review-img img {
    height: 370px;
    width: 500px;
  }
  h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .mid h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.8rem;
  }
  .special {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1221px) {
  .review-img img {
    height: 300px;
    width: 450px;
  }
}
@media screen and (max-width: 1221px) {
  .review-img img {
    height: 300px;
    width: 400px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1221px) {
  h1 {
    font-size: 1.8rem;
    margin-top: 0.9rem;
  }
  h3 {
    font-size: 0.85rem;
  }
  .mid h3 {
    font-size: 1.1rem;
  }
}
