<div class="basic-info">
  <div class="profile-top">
    <h3 class="profile-header">Basic Information</h3>
  </div>
  <div class="profile-bottom">
    <div class="profile-photo">
      <div class="profileimg">
        <img src="/assets/avatar.png" alt="">
        <div class="img-edit">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
      <div class="pfp-text">
        <h5>Profile Photo</h5>
        <p>This will be displayed on your profile.</p>
      </div>
    </div>
    <form class="profile-form">
      <div class="form-container">
        <div class="form_input">
          <label for="name">Name</label>
          <input type="text">
        </div>
        <div class="form_input">
          <label for="email">Email Address</label>
          <input type="email" name="email">
        </div>
      </div>
      <div class="form-container">
        <div class="form_input">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" id="">
        </div>
        <div class="form_input">
          <label for="location">Location</label>
          <input type="text" name="location">
        </div>
      </div>
      <div class="form-container">
        <div class="form_input">
          <label for="gender">Gender</label>
          <input type="text" name="gender">
        </div>
        <div class="form_input">
          <label for="dob">Date of birth</label>
          <input type="date" name="dob">
        </div>
      </div>
      <div class="form-btn">
        <button class="update-btn">Update</button>
      </div>
    </form>
  </div>
</div>