<div class="plan__event">
  <div class="plan__event-page">
    <div class="plan__event-banner"></div>

    <div class="plan__event-main">
      <div class="plan__event-top">
        <div class="plan__event-left">
          <h1 class="plan__event-title">Arcade Fire</h1>
          <div class="plan__event-desc">
            <p>Created by <span>You</span></p>
          </div>
        </div>
      </div>
      <div class="plan__event-location">
        <div class="plan__event-locationItems">
          <mat-icon>event</mat-icon>
          <p>Tuesday, March 01</p>
        </div>
        <div class="plan__event-locationItems">
          <mat-icon>location_on</mat-icon>
          <p>Descasio Lounge</p>
        </div>
        <div class="plan__event-locationItems">
          <mat-icon>schedule</mat-icon>
          <p>4:00 PM WAT</p>
        </div>
      </div>

      <!-- CARDS -->
      <div class="plan__cards">
        <div class="plan__card-item estimate">
          <h5>Budget Estimate</h5>
          <h2>$3,100</h2>
        </div>
        <div class="plan__card-item build">
          <h5>Budget Build</h5>
          <h2>$1,805</h2>
        </div>
        <div class="plan__card-item act">
          <h5>Actualized</h5>
          <h2>$1,805</h2>
        </div>
        <div class="plan__card-item plan">
          <img class="plan__card-img" src="/assets/graph.png" alt="" />
          <div class="plan__p">
            <p>🟩 Budget Build</p>
            <p>🟦 Actualized</p>
          </div>
        </div>
      </div>
      <!-- category -->
      <div class="plan__category">
        <div class="plan__categories">
          <h2>Request Categories</h2>
          <img src="/assets/add.png" alt="" />
        </div>
        <div class="plan__cards">
          <div class="plan__cat-item cat" (click)="showFood('foodVendor')">
            <img class="plan__cat-img" src="/assets/food.png" alt="" />
            <div class="plan__cat-text">
              <h3>Food</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="plan__cancel" (click)="close($event)">❌</p>
          </div>
          <div class="plan__cat-item cat" (click)="showMusic()">
            <img class="plan__cat-img" src="/assets/music.png" alt="" />
            <div class="plan__cat-text">
              <h3>Music</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="plan__cancel" (click)="close($event)">❌</p>
          </div>
          <div class="plan__cat-item cat">
            <img class="plan__cat-img" src="/assets/print.png" alt="" />
            <div class="plan__cat-text">
              <h3>Print</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="plan__cancel">❌</p>
          </div>
          <div class="plan__cat-item cat">
            <img class="plan__cat-img" src="/assets/print.png" alt="" />
            <div class="plan__cat-text">
              <h3>Print</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="plan__cancel">❌</p>
          </div>
        </div>
      </div>
    </div>

    <div class="plan__event-img">
      <img
        src="https://cdn-az.allevents.in/events6/banners/6a99707868dd21455d51a4c21edcbcc1bbe31df71b995190bf1c3f13f17e7ee2-rimg-w960-h365-gmir.jpg?v=1655994414"
        alt="" />
    </div>
    <ng-container>

      <ng-template [ngIf]="card == 'food'">
        <app-foodvendor> </app-foodvendor>
      </ng-template>
      <ng-template [ngIf]="card == 'music'">
        <app-musicvendor> </app-musicvendor>
      </ng-template>
    </ng-container>


  </div>
</div>
