<div class="event">
  <div class="event-page">
    <div class="event-banner">blue banner</div>

    <div class="event-main">
      <div class="event-top">
        <div class="left">
          <h1 class="event-title">Arcade Fire</h1>
          <div class="event-desc">
            <p>Created by <span>You</span></p>
          </div>
        </div>
      </div>
      <div class="event-location">
        <div class="location-items">
          <span>📆</span>
          <p>Tuesday, March 01</p>
        </div>
        <div class="location-items">
          <span>⚓</span>
          <p>Descasio Lounge</p>
        </div>
        <div class="location-items">
          <span>🕒</span>
          <p>4:00 PM WAT</p>
        </div>
      </div>

      <!-- CARDS -->
      <div class="cards">
        <div class="card-item estimate">
          <h5>Budget Estimate</h5>
          <h2>$3,100</h2>
        </div>
        <div class="card-item build">
          <h5>Budget Build</h5>
          <h2>$1,805</h2>
        </div>
        <div class="card-item act">
          <h5>Actualized</h5>
          <h2>$1,805</h2>
        </div>
        <div class="card-item plan">
          <img class="card-img" src="/assets/chart.png" alt="" />
          <div>
            <p>🟩 Budget Build</p>
            <p>🟦 Actualized</p>
          </div>
        </div>
      </div>
      <!-- category -->
      <div class="category">
        <div class="categories">
          <h2>Request Categories</h2>
          <img src="/assets/add.png" alt="" />
        </div>
        <div class="cards">
          <div class="cat-item cat">
            <img class="cat-img" src="/assets/chart.png" alt="" />
            <div class="cat-text">
              <h3>Food</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="cancel">❌</p>
          </div>
          <div class="cat-item cat">
            <img class="cat-img" src="/assets/chart.png" alt="" />
            <div class="cat-text">
              <h3>Music</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="cancel">❌</p>
          </div>
          <div class="cat-item cat">
            <img class="cat-img" src="/assets/chart.png" alt="" />
            <div class="cat-text">
              <h3>Print</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="cancel">❌</p>
          </div>
          <div class="cat-item cat">
            <img class="cat-img" src="/assets/chart.png" alt="" />
            <div class="cat-text">
              <h3>Print</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="cancel">❌</p>
          </div>
        </div>
      </div>
    </div>

    <div class="event-img">
      <img
        src="https://cdn-az.allevents.in/events6/banners/6a99707868dd21455d51a4c21edcbcc1bbe31df71b995190bf1c3f13f17e7ee2-rimg-w960-h365-gmir.jpg?v=1655994414"
        alt=""
      />
    </div>
  </div>
</div>
