<div class="publish">
  <!-- left -->
  <div class="left">
    <div class="top">
      <div class="header">
        <h5>Created By</h5>
        <div class="avatar-container">
          <img
            class="header-avatar"
            src="https://www.w3schools.com/w3images/avatar6.png"
            alt=""
          />
          <p class="header-text">Lucy Baniel</p>
        </div>
      </div>
      <div class="header">
        <h5>Status</h5>
        <p class="header-text" style="color: #f9a826">In Progress</p>
      </div>
      <div class="header">
        <h5>Creation Date</h5>
        <p class="header-text">March 14</p>
      </div>
    </div>
    <div class="bottom">
      <div class="event-details">
        <h3>Event Details</h3>
        <p>Event Description <span class="event-desc">Edit</span></p>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="description">Deadline - May 11 2020</p>
        <div class="files">
          <p>Files Attached <span>Download All</span></p>
          <div class="file-images">
            <div class="file-img">
              <img
                src="https://www.w3schools.com/w3images/avatar6.png"
                alt=""
              />
              <div class="div">
                <h5>Image.png</h5>
                <p>76.5kb</p>
              </div>
            </div>
            <div class="file-img">
              <img
                src="https://www.w3schools.com/w3images/avatar6.png"
                alt=""
              />
              <div class="div">
                <h5>Image.png</h5>
                <p>76.5kb</p>
              </div>
            </div>
          </div>
        </div>
        <select name="" id="">
          Show All (15)
          <option value="">Show All (15)</option>
        </select>
        <div class="category">
          <h4>Categories</h4>
          <p>Live Event</p>
        </div>
      </div>
      <div class="management">
        <h3>Management <span class="event-desc">Edit</span></h3>
        <p class="notes">Assigned To</p>
        <div class="mgmt-avatars">
          <div class="mgmt-container">
            <img
              class="mgmt-avatar"
              src="https://www.w3schools.com/w3images/avatar6.png"
              alt=""
            />
            <p class="mgmt-text">Lucy Baniel</p>
          </div>
          <div class="mgmt-container">
            <img
              class="mgmt-avatar"
              src="https://www.w3schools.com/w3images/avatar6.png"
              alt=""
            />
            <p class="mgmt-text">Lucy Baniel</p>
          </div>
        </div>
        <p class="notes">Notes and Comments</p>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="mgmt-bottom">
          <div class="checkbox-text">
            <input type="checkbox" name="" id="" />
            <div>
              <p>Private Task</p>
              <p class="small-text">
                Nobody can view task except people assigned and admins
              </p>
            </div>
          </div>
          <div class="status-text">
            <p>Staus</p>
            <p style="color: #f9a826; font-weight: 600">In Progress</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right -->
  <div class="right">
    <div class="sidebar-header">
      <h2>Discussions</h2>
      <p>close</p>
    </div>

    <input type="text" placeholder="Write a comment..." />
    <div class="sidebar-body">
      <div class="sidebar-chats">
        <div class="sidebar-chat">
          <img
            class="chat-avatar"
            src="https://www.w3schools.com/w3images/avatar6.png"
            alt=""
          />
          <div>
            <h5 class="chat-head">Daniel Rigby <span>2 days ago - #7</span></h5>
            <p class="chat-body">
              Lorem id duis officia veniam exercitation. Eiusmod incididunt
              nostrud do est est sunt ea qui ullamco. Commodo do sunt pariatur
              anim minim nulla minim nostrud minim nostrud id laborum mollit
              culpa.
            </p>
            <button class="chat-btn">Reply</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="sidebar-body">
      <div class="sidebar-chats">
        <div class="sidebar-chat">
          <img
            class="chat-avatar"
            src="https://www.w3schools.com/w3images/avatar6.png"
            alt=""
          />
          <div>
            <h5 class="chat-head">Daniel Rigby <span>2 days ago - #7</span></h5>
            <p class="chat-body">
              Lorem id duis officia veniam exercitation. Eiusmod incididunt
              nostrud do est est sunt ea qui ullamco. Commodo do sunt pariatur
              anim minim nulla minim nostrud minim nostrud id laborum mollit
              culpa.
            </p>
            <button class="chat-btn">Reply</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="sidebar-body">
      <div class="sidebar-chats">
        <div class="sidebar-chat">
          <img
            class="chat-avatar"
            src="https://www.w3schools.com/w3images/avatar6.png"
            alt=""
          />
          <div>
            <h5 class="chat-head">Daniel Rigby <span>2 days ago - #7</span></h5>
            <p class="chat-body">
              Lorem id duis officia veniam exercitation. Eiusmod incididunt
              nostrud do est est sunt ea qui ullamco. Commodo do sunt pariatur
              anim minim nulla minim nostrud minim nostrud id laborum mollit
              culpa.
            </p>
            <button class="chat-btn">Reply</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="sidebar-body">
      <div class="sidebar-chats">
        <div class="sidebar-chat">
          <img
            class="chat-avatar"
            src="https://www.w3schools.com/w3images/avatar6.png"
            alt=""
          />
          <div>
            <h5 class="chat-head">Daniel Rigby <span>2 days ago - #7</span></h5>
            <p class="chat-body">
              Lorem id duis officia veniam exercitation. Eiusmod incididunt
              nostrud do est est sunt ea qui ullamco. Commodo do sunt pariatur
              anim minim nulla minim nostrud minim nostrud id laborum mollit
              culpa.
            </p>
            <button class="chat-btn">Reply</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
