<div class="dinner-invite">
  <div class="dinner-container">
    <div class="dinner-header">you are cordially invited to</div>
    <div class="dinner-title">
      <div class="dinner-text">DINNER</div>
      <div class="dinner-amp">&</div>
      <div class="dinner-text">DRINKS</div>
    </div>
    <div class="dinner-header">
      HB Enterprise is celebrating it's tenth year
      <span class="bracket">(bracket one)</span>
    </div>
    <div class="dinner-date">
      Saturday, May 6th <span class="bracket">(bracket two)</span>
    </div>
    <div class="dinner-time">
      at 6:30pm <span class="bracket">(bracket 3)</span>
    </div>
    <div class="dinner-address">
      1234, Waywardlane Lane, San Diego, CA 92222
      <span class="bracket">(bracket 4)</span>
    </div>
    <div class="dinner-rsvp">
      Please RSVP <span class="bracket">(bracket 5)</span>
    </div>
  </div>
</div>
