.preview-invite {
  width: 100%;
  background: #f6f7fc;
  display: flex;
}

.invite-page-innerContainer {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  gap: 2rem;
}

.invite-drawer {
  position: relative;
  min-width: 220px;
  background-color: #1c2b66;
  min-height: 100vh;
}

.invite-drawer-mini {
  position: relative;
  min-width: 10px;
  background-color: #1c2b66;
  min-height: 100vh;
}

.drawer-btn-mini {
  position: absolute;
  right: -40px;
  padding: 0.1rem 0.5rem;
  background: #1c2b66;
  border: none;
  color: #fff;
}

.drawer-container {
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
}

.drawer-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  color: #fff;
}

.drawer-list li {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}

.drawer-btn {
  padding: 0.3rem 1.5rem;
  position: absolute;
  top: 0;
  right: -30px;
  border: none;
  outline: none;
  background: #1c2b66;
  color: #fff;
}

.invite-content {
  flex: 1;
}

.invite-pageTop {
  width: 90%;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem auto;
  background: #f6f7fc;
}

.pageTopTabs {
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  align-items: center;
}

.topTabsNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex: 1; */
  width: 40%;
  margin: 0 auto;
  height: 60px;
  border-radius: 35px;
  background: #fff;
}

.tabsNavBtn {
  flex: 1;
  height: 100%;
  border-radius: 35px;
  border: none;
  background: none;
  white-space: nowrap;
  font-size: clamp(0.875rem, 0.7411rem + 0.4286vw, 1.15rem);
}

.tabsNavBtn-active {
  background: #1c2b66;
  color: white;
}

.pageTopBottomTabs {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 0.7px solid #1c2b66; */
}

.bottomTabsLeft {
  flex: 1;
  padding: 1rem;
  text-align: center;
  background: #fff;
  width: 100%;
}

.bottomTabsLeft p {
  text-align: center;
  margin: 1.5rem 0;
  color: #1c2b66;
  line-height: 15px;
  font-weight: 600;
  font-size: clamp(0.85rem, 0.7964rem + 0.1714vw, 1rem);
}

.preview-content {
  width: 100%;
  height: max-content;
  background: #f6f7fc;
  min-height: 85vh;
}

.preview-contentBody {
  width: 100%;
  max-width: 678px;
  height: 100vh;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.preview-inner {
  flex: 1;
  height: 80%;
  width: 90%;
}
.preview-contentBody h4 {
  text-align: center;
  font-size: clamp(1rem, 0.8929rem + 0.3429vw, 1.3rem);
}

.preview-contentBody img {
  width: 80%;
}

.previewBtns {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.previewBtn {
  padding: 0.7rem 1.8rem;
  min-width: 170px;
  border: none;
  border: 0.5px solid #1c2b66;
  border-radius: 4px;
  background: #fff;
  font-size: clamp(0.75rem, 0.7964rem + 0.1714vw, 1rem);
}

.previewBtn-active {
  background: #1c2b66;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .preview-contentBody {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .invite-pageTop {
    width: 100%;
  }

  .topTabsBtn button {
    height: unset;
    padding: 0.5rem 1rem;
  }

  .topTabsNav {
    /* flex: 0.9; */
    height: 40px;
    gap: 0.5rem;
    width: 70%;
    border-radius: 25px;
  }

  .tabsNavBtn {
    /* flex: unset; */
    padding: 0.25rem 0.5rem;
    height: 100%;
  }

  .pageTopTabs {
    gap: 1rem;
    flex-direction: column;
  }

  .pageTopBottomTabs {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: none;
  }

  .preview-contentBody {
    width: 90%;
    height: 70vh;
  }

  .previewBtns {
    /* width: 60%; */
    /* width: 95%; */
    gap: 1rem;
  }

  .previewBtn {
    padding: 0.5rem 0.5rem;
    min-width: unset;
    width: 100px;

    font-size: 11px;
  }
}
