<div class="preview-invite">
  <div class="invite-pageTop">
    <div class="pageTopTabs">
      <div class="topTabsNav">
        <button class="tabsNavBtn" routerLink="/invites">Design</button>
        <button class="tabsNavBtn tabsNavBtn-active" routerLink="/invites/preview">Preview</button>
        <button class="tabsNavBtn">Invitation List</button>
        <button class="tabsNavBtn">Track</button>
      </div>
      <div class="topTabsBtn">
        <button>Next</button>
      </div>
    </div>
    <div class="pageTopBottomTabs">
      <div class="bottomTabsLeft">
        <p>Here is a preview of how your invite will appear in your recipient's inbox.</p>
      </div>
      <div class="bottomTabsRight">
        <button>Save Changes</button>
      </div>
    </div>
  </div>
  <div class="preview-content">
    <div class="preview-contentBody">
      <h4>Peter Ndukwe sent you an invitation for</h4>
      <img src="/assets/babe.png" alt="">
      <div class="previewBtns">
        <button class="previewBtn previewBtn-active">Will Attend</button>
        <button class="previewBtn">Will Not Attend</button>
      </div>
    </div>
  </div>
</div>