<div class="dinner">
  <div class="dinner-container">
    <div class="dinner-header">you are cordially invited to</div>
    <div class="dinner-title">
      <div class="dinner-text">DINNER</div>
      <div class="dinner-amp">&</div>
      <div class="dinner-text">DRINKS</div>
    </div>
    <div class="dinner-header">[1]</div>
    <div class="dinner-date">[2]</div>
    <div class="dinner-time">[3]</div>
    <div class="dinner-address">[4]</div>
    <div class="dinner-rsvp">[5]</div>
  </div>
</div>
