<div class="security">
  <div class="header">
    <div class="header-text">
      <h5 class="small-text">Physical Security</h5>
      <h2 class="big-text">On Trend, On Time, For You and Your Customers</h2>
      <p class="normal-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis incidunt
        alias quia nostrum id.
      </p>
    </div>
    <div class="header-btn">
      <button class="btn btn-service">Book Service</button
      ><button class="btn btn-diag">
        Diagonostic Tool
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="arrow_forward"
        ></mat-icon>
      </button>
    </div>
  </div>
  <div class="hero-section">
    <img src="/assets/hero.jpg" alt="" />
  </div>
  <div class="banner-section">
    <div class="banner">
      <div class="icon"></div>
      <div class="text">
        <h2>On Trend, On Time, For You and Your Customers</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
    <div class="banner">
      <div class="icon"></div>
      <div class="text">
        <h2>On Trend, On Time, For You and Your Customers</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
    <div class="banner">
      <div class="icon"></div>
      <div class="text">
        <h2>On Trend, On Time, For You and Your Customers</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
  </div>
</div>
