<div class="security">
  <div class="header">
    <div class="header-text">
      <h5 class="small-text">Physical Security</h5>
      <h2 class="big-text">On Trend, On Time, For You and Your Customers</h2>
      <p class="normal-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis incidunt
        alias quia nostrum id.
      </p>
    </div>
    <div class="header-btn">
      <button class="btn btn-service">Book Service</button><button class="btn btn-diag">
        Diagonostic Tool
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="hero-section">
    <img src="/assets/hero.jpg" alt="" />
  </div>
  <div class="banner-section">
    <div class="banner">
      <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="verified_user"></mat-icon>
      </div>
      <div class="text">
        <h3>On Trend, On Time, For You and Your Customers</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
    <div class="banner">
      <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="verified_user"></mat-icon>
      </div>
      <div class="text">
        <h3>On Trend, On Time, For You and Your Customers</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
    <div class="banner">
      <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="verified_user"></mat-icon>
      </div>
      <div class="text">
        <h3>On Trend, On Time, For You and Your Customers</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          incidunt alias quia nostrum id.
        </p>
      </div>
    </div>
  </div>
  <div class="more-info">
    <div class="first-section">
      <div class="info-img">
        <img src="/assets/hands.jpg" alt="" class="info-img" />
      </div>
      <div class="info-text">
        <h5>Physical Security</h5>
        <h2>On Trend, On Time, For You and Your Customers</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
          officiis blanditiis? Impedit dignissimos, soluta earum natus
          consectetur culpa officia assumenda et ut, iure quis voluptatibus nisi
          aut voluptatum magnam maxime.
        </p>
      </div>
    </div>
    <div class="second-section">
      <div class="info-text">
        <h5>Physical Security</h5>
        <h2>On Trend, On Time, For You and Your Customers</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
          officiis blanditiis? Impedit dignissimos, soluta earum natus
          consectetur culpa officia assumenda et ut, iure quis voluptatibus nisi
          aut voluptatum magnam maxime.
        </p>
      </div>
      <div class="info-img">
        <img src="/assets/camera.png" alt="" class="info-img" />
      </div>
    </div>
  </div>
</div>
