<div class="birthday">
  <div class="birthday-container">
    <div class="birthday-text">Please join us for a</div>
    <div class="birthday-title">Birthday Party</div>
    <div class="birthday-minititle">celebrating</div>
    <div class="birthday-name">[ 1 ]</div>

    <div class="birthday-date">[ 2 ]</div>
    <div class="birthday-time">[ 3 ]</div>

    <div class="birthday-address">
      <div class="birthday-location">[ 4 ]</div>
      345 SAINT BENEDICT STREET, JOSHUA TREE California [ 5 ]
    </div>
  </div>
</div>
