<div class="delete-page">
  <div class="delete-container">
    <div class="delete-header">
      <h3>Delete your account</h3>
    </div>
    <div class="delete-content">
      <p class="delete-text">When you delete your account, you lose access to Events services and we permanently delete
        your personal data.
        You can cancel the deletion for 14 days.</p>

      <div class="delete-confirm">
        <input type="checkbox" name="confirm" id="">
        <p>Confirm that i want to delete my account</p>
      </div>
      <div class="delete-btnsContainer">
        <div class=""></div>
        <div class="delete-btns">
          <button class=" delete-btn learn">Learn More</button>
          <button class="delete-btn del">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>