<div class="new-tickets">
  <div class="new-tickets-container">
    <div class="new-tickets-main">
      <div class="tickets-mainHeader">
        <div class="ticketsHeaderText">
          <h1>Let's create tickets for your event.</h1>
          <p>Select your event and let’s get started!</p>
        </div>
        <div class="ticketsHeaderImage">
          <img src="/assets/new-ticket.png" alt="">
        </div>
      </div>
      <div class="tickets-overview">
        <div class="overviewHeader">
          <h4>Event Overview</h4>
          <div class="overviewSelect">
            <select name="" id="">
              <option value="">Filter</option>
              <option value="">abc</option>
              <option value="">def</option>
            </select>
          </div>
        </div>
        <div class="overviewContainer">
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: green; font-weight: 300">🟢 Event Completed
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #f9a826; font-weight: 300">🟡 Event in progress
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #ff5b57; font-weight: 300">🔴 Event In Draft
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: green; font-weight: 300">🟢 Event Completed
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #f9a826; font-weight: 300">🟡 Event in progress
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #ff5b57; font-weight: 300">🔴 Event In Draft
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-tickets-calendar">
      <app-datepickers></app-datepickers>
    </div>
  </div>
</div>