<div class="template-one">
  <div class="templateleft">
    <div class="savetext">
      <h1 class="highlight">Save the date</h1>
    </div>
    <div class="templatevr"></div>
  </div>
  <div class="templateright">
    <div class="templatetext">
      <input class="inputname" type="text" placeholder="Alexander" />
      <h5>&</h5>
      <input class="inputname" type="text" placeholder="Marriana" />

      <p class="ptext">We are inviting you to join our wedding</p>
      <input type="text" class="inputdate" placeholder="25 | 04 | 2024" />
    </div>
  </div>
</div>
