.request {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.request-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.header-btn {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: #fff;
  color: #1c2b66;
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  margin-bottom: 1rem;
}
.header-text {
  font-size: clamp(1.25rem, 0.4063rem + 3vw, 2.175rem);
  font-weight: 600;
  color: #1c2b66;
}
.divider {
  border: 0.5px solid rgba(28, 43, 102, 0.21);
}
.req,
.event-info,
.event-location {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.req-header-title,
.event-header-title {
  font-size: clamp(1.85rem, 0.4219rem + 4.25vw, 2.4125rem);
  font-weight: 800;
  color: #1c2b66;
}
.req-notice {
  /* background: #1c2b66;
  color: #fff;
  height: fit-content;
  padding: 0.35rem 1rem;
  border-radius: 30px;
  display: flex;
  justify-content: center; */
}
.req-header-text,
.event-header-text {
  font-size: clamp(0.75rem, 0.4219rem + 1.05vw, 1.125rem);
}
.notice-text {
  margin-top: 10px;
  /* margin-left: 10px; */
  font-size: clamp(0.65rem, 0.4219rem + 0.75vw, 0.95rem);
  background: #1c2b6c;
  color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 30px;
}
.req-select select,
.req-select input,
.event-select select {
  width: 100%;
  height: 3rem;
  padding: 0rem 1rem;
  border: none;
  background: #f1f4fa;
  border-radius: 10px;
  font-size: clamp(0.75rem, 0.4219rem + 1.05vw, 1.125rem);
}
.req-btn button {
  width: 100%;
  padding: 0.7rem;
  background: #1c2b66;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.event-select-date,
.event-select-time {
  display: flex;
  gap: 1rem;
}
.start-date,
.end-date,
.start-time,
.end-time {
  width: 50%;
}
.start-date input,
.start-time input,
.end-time input,
.end-date input {
  width: 100%;
  height: 3rem;
  padding: 0rem 1rem;
  border: none;
  background: #f1f4fa;
  border-radius: 10px;
  font-size: clamp(0.75rem, 0.4219rem + 1.05vw, 1.125rem);
}
.request-right {
  width: 65%;
}
.circle {
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
.circle img {
  max-height: 80%;
  max-width: 80%;
}

@media screen and (max-width: 762px) {
  .request-right {
    display: none;
  }
  .request-left {
    width: 100%;
  }
}
