<div class="event-invoice">
  <div class="event-invoiceTop">
    <h2 class="invoiceTopHeader">
      Preview
    </h2>
    <div class="invoiceTopIcons">
      <mat-icon>download</mat-icon>
      <mat-icon>print</mat-icon>
    </div>
  </div>
  <div class="event-invoiceBanner">
    <div class="invoiceBannerTop">
      <div class="invoiceBannerLogo">
        <img
          src="https://images.squarespace-cdn.com/content/v1/56201b5ce4b0c05fdc35713a/1526420864826-N38FTFOAVE50YOYYME85/j-logo-black-new.pnglogo"
          alt="">
      </div>
      <div class="invoiceBannerContact">
        <p><mat-icon>mail</mat-icon>Johnsmith@email.com</p>
        <p><mat-icon>call</mat-icon>12345678900</p>
      </div>
    </div>
    <div class="invoiceBannerBottom">
      <div class="invoiceBannerRecepient">
        <h5>Recipient</h5>
        <p>JOHN SMITH
          4305 Liberty Avenue
          92680 Lekki, Lagos</p>
        <div class="invoiceBannerRecContact">
          <p><mat-icon>mail</mat-icon>Johnsmith@email.com</p>
          <p><mat-icon>call</mat-icon>12345678900</p>
        </div>
      </div>
      <div class="invoiceBannerInvoice">
        <h3>Invoice</h3>
        <div class="invoiceNo">
          <p class="invoiceNoTitle">Invoice no.</p>
          <p class="invoiceNoText">#34FG456</p>
        </div>
        <div class="invoiceDate">
          <p class="invoiceNoTitle">Invoice Date</p>
          <p class="invoiceNoText">Sept 26, 2022</p>
        </div>
      </div>
    </div>
  </div>
  <div class="event-InvoiceTable">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">SERVICE TYPE</th>
            <th scope="col">SERVICE CAPTION</th>
            <th scope="col">RATE</th>
            <th scope="col">TOTAL AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>Festival</td>
            <td>Disk Jockey</td>
            <td>#3000</td>
            <td>#25000</td>
          </tr>
          <tr>
            <!-- <th scope="row">2</th> -->
            <td>Festival</td>
            <td>Disk Jockey</td>
            <td>#3000</td>
            <td>#25000</td>
          </tr>
          <tr>
            <th></th>
            <td class="subtotal" colspan="2">SUBTOTAL</td>
            <td>#25000</td>
          </tr>
          <tr>
            <th></th>
            <td class="discount" colspan="2">DISCOUNT 5%</td>
            <td>#25000</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2">TOTAL</td>
            <td class="total">#25000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="event-InvoiceNotes">
    <h4>NOTES</h4>
    <p>Lörem ipsum egogåde gyssa. Fare egoligen. Lakask velädera tuktiga, monoseras. Prenade. Monopyv rukäsm rirade.
      Krisväska presamma. </p>
  </div>
  <div class="eventInvoiceBtn">
    <button>Close</button>
  </div>
</div>