.create {
  width: 75vw;
  margin: 3rem auto;
}
.create-banner {
  height: 57vh;
  background: #55608d;
  border-radius: 25px;
}
.btn {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}
.create-banner button {
  padding: 0.8rem 5rem;
  border: 1px solid #1c2b66;
  background: #1c2b66;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
.create-banner button:hover {
  background: #0b153a;
  transition: all ease-in-out 0.5s;
}
.btn button {
  padding: 0.8rem 2.5rem;
  border: 1px solid #1c2b66;
  background: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.btn button:hover {
  background: #1c2b66;
  transition: all ease-in-out 0.5s;
  color: #fff;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin: auto 0;
  color: #fff;
}
.banner-text h2 {
  font-size: 2.5rem;
}
img {
  width: 195px;
  height: 195px;
}
