.create-ticket {
  /* max-width: 1600px; */
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.create-ticket__banner {
  min-height: fit-content;
  height: 500px;
  width: 100%;
  background: #55608d;
  border-radius: 25px;
}

.create-ticket__img {
  width: 195px;
  height: 195px;
}

.create-ticket__banner button {
  padding: 0.8rem 5rem;
  border: 1px solid #1c2b66;
  background: #1c2b66;
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  cursor: pointer;
  color: #fff;
}

.create-banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin: auto 0;
  color: #fff;
}

.create-banner__text h2 {
  font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
  font-weight: 600;
}

.create-banner__text p {
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.create-banner__btn button:hover {
  background: #0b153a;
  transition: all ease-in-out 0.5s;
}

.create-banner__btn button {
  padding: 0.8em 2em;
  border: 1px solid #1c2b66;
  background: #fff;
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  cursor: pointer;
}

.create-banner__btn button:hover {
  background: #1c2b66;
  transition: all ease-in-out 0.5s;
  color: #fff;
}