.solution-main {
  width: 70%;
  margin: 0 auto;
}
.top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin: 3rem auto;
}
.top > * {
  flex: 1 1 22em;
}
.request-cards {
  height: 270px;
  background: #000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 3rem 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.request-cards h2 {
  font-size: 3rem;
  font-weight: 700;
}
.request-cards p {
  font-size: clamp(0.85rem, 2vw, 1rem);
}
.request-text {
  flex: 1;
}
.request-cards img {
  width: 18%;
  /*height: 100px; */
}
.card-left {
  background: linear-gradient(
    0deg,
    hsla(172, 100%, 50%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
}
.card-right {
  background: linear-gradient(
    0deg,
    hsla(141, 100%, 50%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

.mid {
  text-align: center;
}
.mid h2 {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
  font-weight: 800;
}
.mid p {
  font-size: clamp(0.85rem, 2vw, 1rem);
}
.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  justify-content: space-between;
  margin: 3rem auto;
}

.solution-cards {
  height: 140px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text {
  width: 80%;
}
.card-text h4 {
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
}
.card-text p {
  font-size: clamp(0.65rem, 2.5vw, 0.85rem);
}
.card-img {
  width: 20%;
}
.card-img img {
  width: 80%;
  float: right;
}

@media screen and (max-width: 760px) {
  .bottom {
    display: grid;
    grid-template-columns: 100%;
  }
}
