<div class="solution-main">
  <div class="top">
    <div class="request-cards">left</div>
    <div class="request-cards">right</div>
  </div>
  <div class="mid">
    <h2>Solutions Tailored to your event</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
      nostrum odio rem consequatur similique sit, molestiae porro cumque
      adipisci perspiciatis nemo maiores iure distinctio! Quam doloribus amet
      cum delectus excepturi!
    </p>
  </div>
  <div class="bottom"></div>
</div>
