<div class="solutions">
  <div class="solution-main">
    <div class="top">
      <div class="request-cards card-left">
        <img src="/assets/req.png" alt="" />
        <div class="request-text">
          <p>Requests awaiting responses</p>
          <h2>165</h2>
        </div>
      </div>
      <div class="request-cards card-right">
        <img src="/assets/cart.png" alt="" />
        <div class="request-text">
          <p>Invoice Per Request</p>
          <h2>75</h2>
        </div>
      </div>
    </div>
    <div class="mid">
      <h2>Solutions Tailored to your event</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
        nostrum
      </p>
    </div>
    <div class="bottom">
      <div class="solution-cards">
        <div class="card-text">
          <h4>Physical Security</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/security.png" alt="" />
        </div>
      </div>

      <div class="solution-cards">
        <div class="card-text">
          <h4>Surveilance</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/suv.png" alt="" />
        </div>
      </div>
      <div class="solution-cards">
        <div class="card-text">
          <h4>Armed Guarding</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/guard.png" alt="" />
        </div>
      </div>
      <div class="solution-cards">
        <div class="card-text">
          <h4>Drone</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/drone.png" alt="" />
        </div>
      </div>
      <div class="solution-cards">
        <div class="card-text">
          <h4>Physical Security</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/security.png" alt="" />
        </div>
      </div>

      <div class="solution-cards">
        <div class="card-text">
          <h4>Surveilance</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/suv.png" alt="" />
        </div>
      </div>
      <div class="solution-cards">
        <div class="card-text">
          <h4>Armed Guarding</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/guard.png" alt="" />
        </div>
      </div>
      <div class="solution-cards">
        <div class="card-text">
          <h4>Drone</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
            vero vitae ut voluptatum quidem.
          </p>
        </div>
        <div class="card-img">
          <img src="/assets/drone.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
